#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	# Зависимости устанавливаются в postinst через pip в venv

override_dh_auto_install:
	# Файлы раскладываются через debian/install

override_dh_fixperms:
	dh_fixperms
	find debian/ups-pi-node/usr/lib/ups-pi-node -type f -exec chmod 0644 {} +
	chmod +x debian/ups-pi-node/usr/bin/ups-pi-node-hotspot-fallback
